@use '../config';
@forward '../base';

* {
	padding: 0px;
	margin: 0px;
}

.gwf-bio {
	&__wrapper {
		font-family: "Nexa";
		display: flex;
		justify-content: center;
		padding: 20px;
		// background: linear-gradient(180deg,
		// 		config.$tertiary-color 0%,
		// 		config.$neutral-color-lightest 65%,
		// 		config.$primary-color 100%);
		background-color: config.$secondary-color;
	}

	&__holder {
		width: 800px;

		@include config.breakpoint('medium-down') {
			width: 98%;
		}
	}

	&__grid {
		display: flex;
		flex-direction: column;
		gap: 24px;
		background-color: config.$secondary-color;
		// background-image:
		// linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
		// url(https://blacknovember30off.fit4go.com.br/wp-content/uploads/2025/11/BACKGROUND_LINKS_KC_1.png);
		// background-repeat: no-repeat;
		// background-size: cover;
		border-radius: 10px;
		padding: 25px 20px;
	}

	&-profile {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: config.$neutral-color-lightest;

		&__image {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			object-fit: cover;
			border: 4px solid config.$neutral-color-light;
			box-shadow: config.$default-shadow;
		}

		&__title {
			font-size: 28px;
			font-weight: 700;
			padding-top: 10px;

			@include config.breakpoint('medium-down') {
				font-size: 30px;
			}
		}

		&__description {
			font-size: 16px;
			padding-bottom: 5px;

			&--destaque {
				font-weight: bold;
			}
		}
	}

	&-social {
		display: flex;
		justify-content: center;
		gap: 20px;
		padding-top: 20px;

		&__link {
			@include config.reset-link;
		}

		&__icon {
			color: config.$neutral-color-lightest;
			font-size: 24px;
			opacity: 0.8;
			transition: 0.3s;

			&:hover {
				opacity: 1;
				transform: scale(1.1);
			}
		}
	}

	&-card {

		&__produtos {
			@include config.breakpoint('large-up') {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}

		&__title {
			font-size: 24px;
			font-weight: 700;
			color: config.$neutral-color-lightest;
			text-align: center;
			padding: 20px 0px;

			@include config.breakpoint('medium-down') {
				font-size: 22px;
			}
		}
	}

	&-links {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__item--links {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			padding: 12px 15px;
			text-decoration: none;
			font-weight: 600;
			font-size: 16px;
			color: config.$neutral-color-lightest;
			width: 60%;
			background: config.$tertiary-color;
			margin-bottom: 10px;
			border-radius: 5px;
			font-size: 18px;
			height: 25px;

			&:hover {
				background: config.$custom_1-color-dark;
			}

			@include config.breakpoint('medium-down') {
				width: 90%;
			}

		}

		&__item--produtos {
			text-decoration: none;
		}

		&__text {
			display: flex;
			flex-direction: column;
			line-height: 10px;
			text-align: center;
			gap: 10px;
		}

		&__main {
			font-size: 16px;
			font-weight: 600;
		}

		&__sub {
			font-family: "Nexa";
			font-size: 12px;
			font-weight: 400;
			opacity: 0.8;
		}

		&__icon {
			position: absolute;
			left: 15px;
			top: 50%;
			transform: translateY(-50%);
			font-size: 30px;
			@include config.breakpoint('medium-down') {
				left: 10px;
			}
		}
	}

	&-creator {
		text-align: center;
		color: config.$neutral-color-lightest;

		&__content {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0px 20px;
		}

		&__image {
			width: 243px;
			height: 300px;
			object-fit: contain;
			border-radius: 10px;
			border: 3px solid config.$neutral-color-light;
			box-shadow: config.$default-shadow;
			margin-bottom: 15px;
		}

		&__name {
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 5px;
		}

		&__bio {
			font-size: 16px;
			opacity: 0.9;
			max-width: 300px;
		}
	}

	&-slider {
		position: relative;
		overflow: hidden;
		border-radius: 12px;

		@include config.breakpoint('large-up') {
			width: 275px;
		}

		&__track {
			display: flex;
			transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
		}

		&__slide {
			min-width: 100%;
			background-color: config.$custom_2-color;
			border-radius: 12px;
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		&__image {
			height: 350px;
			object-fit: cover;
			border-radius: 12px;

			@include config.breakpoint('medium-down') {
				width: 100%;
				object-fit: cover;
			}
		}

		&__info {
			padding: 5px 5px;
		}

		&__details {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__product-name {
			font-size: 18px;
			color: config.$neutral-color-lightest;
			font-weight: 600;
			padding: 5px 0px;
		}

		&__product-price {
			font-size: 18px;
			color: config.$neutral-color-lightest;
			padding-bottom: 5px;
		}

		&__action {
			text-decoration: none;
			padding: 8px 16px;
			font-size: 16px;
			color: config.$neutral-color-darkest;
		}

		&__controls {
			position: absolute;
			top: 35%;
			width: 99%;
			display: flex;
			justify-content: space-between;
			padding: 0 1.5px;
			pointer-events: none;

			@include config.breakpoint('medium-down') {
				width: 97%;
				padding: 0 4.5px;
			}
		}

		&__btn {
			@include config.reset-button;
			background-color: config.$neutral-color-lightest;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			pointer-events: auto;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

			&:hover {
				background-color: config.$neutral-color-light;
			}
		}
	}

	&-loja {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__button {
			color: config.$neutral-color-lightest;
			background-color: config.$tertiary-color;
			border: 2px solid config.$tertiary-color;
			border-radius: 8px;
			width: 36%;
			padding: 15px 20px;
			text-align: center;
			font-size: 18px;
			font-weight: 600;
			font-family: "Nexa";

			&:hover {
				background: config.$custom_1-color-dark;
			}

			@include config.breakpoint('medium-down') {
				width: 100%;
			}
		}
	}

	&-map {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__frame-container {
			height: 180px;
			border-radius: 12px;
			overflow: hidden;

			@include config.breakpoint('medium-down') {
				width: 100vw;
			}
		}

		&__iframe {
			width: 100%;
			height: 100%;
			border: none;
		}
	}
}